{% load static %}



<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Form</title>
    <link rel="stylesheet" href="{% static '/css/stylelogin.css'%}">
</head>
<body>
<section class="container forms">
    <div class="form show-signup">
                <div class="form-content">
                    <header>ثبت نام</header>
                    <form  method="post" action="{% url 'Signup_page' %}">
                        {% csrf_token %}
                        <div class="field input-field">
                            <p style="color: white">{{ register_form.email.label_tag }}</p>
                            {{ register_form.email }}
                            {{ register_form.email.error_messages }}
                        </div>

                        <br>

                        <div class="field input-field">
                            <p style="color: white">{{ register_form.name.label_tag }}</p>
                            {{ register_form.name }}
                            {{ register_form.name.error_messages }}
                        </div>
                        <br>
                        <div class="field input-field">
                              <p style="color: white">{{ register_form.password.label_tag }}</p>
                                 {{ register_form.password }}
                                 {{ register_form.password.error_messages }}
                        </div>
                        <br>
                        <div class="field input-field">
                            <p style="color: white">{{ register_form.confirm_password.label_tag }}</p>
                            {{ register_form.confirm_password }}
                            {{ register_form.confirm_password.error_messages }}
                        </div>
                        <br>
                        <div class="field button-field">
                            <button>ثبت</button>
                        </div>
                    </form>
                    <div class="form-link">
                        <span>حساب کاربری دارید؟ <a href="{% url 'login_page'%}">ورود</a></span>
                    </div>
                </div>
    </div>
</section>

</body>
</html>